{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}


{% block headers %}
<h1>Contacto</h1>
              <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}

<div class="row">  
<div class="col-lg-8 col-md-10 mx-auto">
          <p>Esta el mi enformación de contacto que puede ayudarte a comunicarte con migo, por lo regular me encuentro conectado todos los dias de 9 hr a 9hr,
          y en casos especiales hasta mas tarde</p>
          <br>
          <p><b>Teléfono:</b> 748-107-5651</p>
          <p><b>Honorarios:</b> 100$€/h (precio base)</p>
</div>
</div>
{% endblock %}
    